#BMIbutton {
    color: #ddd;
    background-color: $sidebar-bg-color;
    border-color: #ddd;
    border-radius: 4px;
    width: 90px;
    height: 30px;
}

#BMIbutton:hover {
    background-color: rgb(83, 190, 74);
    font-weight: bold;
    border-width: 2px;
}

#BMIbutton:active {
    background-color: #02361a;
}

#BMIdisplay_message, #BMIdisplay_value {
    width: 150px;
    color: $colorgreen;
    text-align: center;
}

#weight-in-kgs, #height-in-cm {
    width: 75px;
    text-align: center;
    color: $colorgreen; 
}