#fizz_button {
    color: #ddd;
    background-color: $sidebar-bg-color;
    border-color: #ddd;
    border-radius: 4px;
    width: 90px;
}

#fizz_button:hover {
    background-color: #3c9234;
    font-weight: bold;
    border-width: 2px;
}

#fizz_button:active {
    background-color: #02361a;
}

#display_fizzbuzz {
    border: 5px solid $colorgreen;
    border-radius: 50%;
    float: center;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: $colorgreen;
}

#fizz_value {
    width: 50px;
    color: $colorgreen;
    text-align: center;
}