.project-first-webpage,
.project-fizz-buzz,
.project-bmi-calc {
    border: solid;
    width: 300px;
    height: 200px;
}

.project-first-webpage {
    margin: auto;
  }

.project-fizz-buzz {
    margin: auto;
  }

.project-bmi-calc {
    margin: auto;
  }