.projects {
  display: table;
  margin: auto;
}

.project-first-webpage,
.project-fizz-buzz,
.project-bmi-calc {
    width: 300px;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    margin: 5px;
}