.framework {
    display: grid;
    grid-template-columns: 125px 11fr;
    grid-template-rows: 1fr 11fr;
    min-height: 100vh;
    grid-template-areas:
    "sidebar main main"
    "sidebar main main"
    "sidebar main main";
      .header{
        color: $colorwhite;
        grid-area: header;
        background-color: $header-bg-color;
        p {
          text-align: left;
          margin-left: 50px;
        }
      }
      .main{
        color: $colorgreen;
        text-align: center;
        grid-area: main;
        background-color: $main-bg-color;
      }
      .sidebar{
        grid-area: sidebar;
        background-color: $sidebar-bg-color;
      }
  }
  
#sidebarUL {
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    padding: 0;
    list-style-type:none;
    line-height: 40px;
}

.sidebar_btn {
    color: $colorwhite;
    background-color: $sidebar-bg-color;
    border-color: $colorwhite;
    border-radius: 4px;
    width: 95px;
    height: 30px;
}

.sidebar_btn:hover {
    background-color: #3c9234;
    font-weight: bold;
    border-width: 2px;
}

.sidebar_btn:active {
    background-color: #02361a;
}