$main-bg-color: #9ecaaf;
$sidebar-bg-color: #034622;
$header-bg-color: #034622;

@import "sidebar.css.scss";
@import 'fizzbuzz.css.scss';
@import 'bmicalc.css.scss';

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #034622;
}

a {
  color: #28a508;
  text-decoration: none;
  font-weight: bold;
  &:focus,
  &:hover {
    color: #012907;
  }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}