$main-bg-color: #ddd;
$sidebar-bg-color: #034603;
$header-bg-color: #034603;


body {
  margin: 0;
  padding: 0;
}

.framework {
  display: grid;
  grid-template-columns: 1.5fr 10fr;
  grid-template-rows: 1fr 10fr;
  min-height: 100vh;
  grid-template-areas:
  "header header"
  "sidebar main"
  "sidebar main";
    .header{
      color: #ddd;
      text-align: center;
      grid-area: header;
      background-color: $header-bg-color;
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 1;
    }
    .main{
      color: rgb(33, 33, 0);
      text-align: center;
      grid-area: main;
      background-color: $main-bg-color;
      grid-column-start: 2;
      grid-column-end: 10;
      grid-row-start: 2;
      grid-row-end: 10;
    }
    .sidebar{
      color: #ddd;
      grid-area: sidebar;
      text-align: left;
      margin: 0;
      padding: 0;
      background-color: $sidebar-bg-color;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 10;
    }
}

a {
  color: rgba(rgb(15, 231, 15), 0.7);

  &:focus,
  &:hover {
    color: rgba(rgb(197, 13, 13), 0.6);
  }
}
