.sidebar
    %ul#sidebarUL
        %a{ href:'https://github.com/', title: 'Main page'}
        Home
        %a{ href:'https://github.com/', title: 'Applications'}
        Applications
        %a{ href:'https://github.com/', title: 'Cheat sheets'}
        Cheat sheets
        %a{ href:'https://github.com/', title: 'Slacker tricks'}
        Slacker tricks
        %a{ href:'https://github.com/', title: 'Other random stuff'}
        Random stuff
        %a{ href:'https://github.com/', title: 'Page about Andy'}
        About me
        %a{ href:'https://github.com/', title: 'Get in touch'}
        Contact