.sidebar
    %ul#sidebarUL
        %form{ action: 'index.html'}
            %input.sidebar_btn{ type: 'submit', value: 'HOME'}/
        %form{ action: 'projects.html'}
            %input.sidebar_btn{ type: 'submit', value: 'CA PROJECTS'}/
        %form{ action: 'cheat.html'}
            %input.sidebar_btn{ type: 'submit', value: 'CHEAT'}/
        %form{ action: 'slacker.html'}
            %input.sidebar_btn{ type: 'submit', value: 'SLACKERS'}/
        %form{ action: 'https://www.random.org/'}
            %input.sidebar_btn{ type: 'submit', value: 'RANDOM'}/
        %form{ action: 'about.html'}
            %input.sidebar_btn{ type: 'submit', value: 'ABOUT'}/
        %form{ action: 'contact.html'}
            %input.sidebar_btn{ type: 'submit', value: 'CONTACT'}/