.sidebar
    %ul#sidebarUL
        %form{ action: 'index.html'}
            %input.sidebar_btn{ type: 'submit', value: 'Home'}/
        %form{ action: 'projects.html'}
            %input.sidebar_btn{ type: 'submit', value: 'CA Projects'}/
        %form{ action: 'cheat.html'}
            %input.sidebar_btn{ type: 'submit', value: 'Cheat sheets'}/
        %form{ action: 'slacker.html'}
            %input.sidebar_btn{ type: 'submit', value: 'Slacker tricks'}/
        %form{ action: 'https://www.random.org/'}
            %input.sidebar_btn{ type: 'submit', value: 'Random stuff'}/
        %form{ action: 'about.html'}
            %input.sidebar_btn{ type: 'submit', value: 'About me'}/
        %form{ action: 'contact.html'}
            %input.sidebar_btn{ type: 'submit', value: 'Contact'}/