.sidebar
    %ul#sidebarUL
        %a{ href:'index.html', title: 'Main page'} Home
        %br/
        %a{ href:'projects.html', title: 'Projects made during the bootcamp'} CA Projects
        %br/
        %a{ href:'projects.html', title: 'Various small applications'} Applications
        %br/
        %a{ href:'cheat.html', title: 'Cheat sheets for Git, Markdown ect.'} Cheat sheets
        %br/
        %a{ href:'slacker.html', title: 'Slacker tricks'} Slacker tricks
        %br/
        %a{ href:'https://www.random.org/', title: 'Other random stuff'} Random stuff
        %br/
        %a{ href:'about.html', title: 'Page about Andy'} About me
        %br/
        %a{ href:'contact.html', title: 'Get in touch'} Contact
        %br/