%h1.about About me
%hr/
.abouttext
    %p.standard Dette er en test-tekst
    %p.standard Dette er en test-tekst
    %p.standard Dette er en test-tekst
    %p.standard Dette er en test-tekst
    %p.standard Dette er en test-tekst
    %p.standard Dette er en test-tekst

%form.about{ action: 'cv.html'}
    %input.sidebar_btn{ type: 'submit', value: 'My CV'}/