%h1 Cheat sheets 
%hr/
%br/

%a{ href: 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet', title: 'Cheat sheet for Markdown' } Markdown
%br/
%a{ href: 'https://education.github.com/git-cheat-sheet-education.pdf', title: 'Cheat sheet for GitHub' } GitHub
%br/
%a{ href: 'https://gist.github.com/poopsplat/7195274', title: 'Cheat sheet Mac Terminal' } Mac Terminal
%br/
%a{ href: 'https://gist.github.com/zhengjia/428105', title: 'Cheat sheet Capybara' } Capybara
%br/
