%title Fizz Buzz 
%h1 Fizz Buzz Generator 
%br/
%input#value{ type: 'text' }/
%input#button{ type: 'submit', value: 'Check' }/
#display_answer
%script{ src: 'javascripts/fizz-buzz.js' }
%script{ src: 'javascripts/fizz-buzz-display.js' }