%title Fizz Buzz 
%h1 Fizz Buzz Generator 
%br/
%input#fizz_value{ type: 'text' }/
%input#fizz_button{ type: 'submit', value: 'Check' }/
%br/
%br/
#display_fizzbuzz
%script{ src: 'javascripts/fizz-buzz.js' }
%script{ src: 'javascripts/fizz-buzz-display.js' }