.projects
  - data.projects.each do |project|
    %h4= project[:name]
    %p= project[:description]

%a{ href: 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet', title: 'Cheatsheeet for Markdown' }
  Markdown Cheatsheet


